//  src/theme.scss

@import 'bulma/sass/utilities/initial-variables.sass';

// your customization as described in the Bulma docs


@import 'bulma/bulma.sass';

body {
    background: whitesmoke
}

.hero{
    padding: 0 0;
    margin: 0 0;
}

.toasts-container{
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  & > div {
    display: inline-block;
  }
}
